<div class="challenge-body back-side">
  <div class="challenge-title">
    <%= challenge.title %>
  </div>
  <% if  user_challenge && !user_challenge&.completed %>
    <div class="challenge-picture" style="background-image: url(<%= cl_image_path challenge.picture, height: 180, crop: :fill %>); background-repeat: no-repeat; background-size: cover"></div>
    <div class="challenge-description">
      <%= challenge.description %>
    </div>

    <div class="co2-info">
      <%= image_tag("co2.svg", class: 'co2-icon') %>
      <%= challenge.carbon %>
    </div>

      <%= link_to 'Mark as done!', completed_path(user_challenge), method: :post, class:'btn btn-secondary' %>
      <div class="challenge-tip fab fa-readme" id="challenge-tip">
        <p>Tips</p>
      </div>
           <div id="tips" class="tips-show tips-show-hidden">
             <%= render 'tips', challenge: @challenge, tip: @tip, tips: @tips %>
           </div>
    <% else %>
       <div class="challenge-picture checked" style="background-image: url(<%='https://www2.kasa-solutions.com/wp-content/uploads/sites/2/2016/01/icon-check.png'%>); background-repeat: no-repeat; background-size: cover"></div>
      <div >
        <h2>Congratulations you finished this challenge</h2>
      </div>
             <div class="btn btn-secondary" id="challenge-tip">
          <p>Give tips</p>
        </div>
             <div id="tips" class="tips-show tips-show-hidden">
               <%= render 'tips', challenge: @challenge, tip:@tip, tips: @tips %>
             </div>
        <%= link_to 'Dashboard', dashboard_path, class: "dashboard" %>
    <% end %>
  </div>
</div>

