
<div class="fas fa-times btn-close"></div>
<div class="tip-container">
<% tips.each do |tip| %>
 <div class="tip">
    <div class="avatar-name">
      <%= image_tag tip.user.avatar.url, class: "avatar-tip" %>
      <%= tip.user.username %>
    </div>
    <div class="content">
      <p><%= tip.content %></p>
      <p class ="tip-created-at"> Created <%= tip.created_at.strftime("%d/%m/%Y - %H:%M:%S")  %></p>
    </div>
 </div>
<% end %>
  <div class="tip-form">
    <%= form_for([challenge, challenge_user, tip]) do |f| %>
     <%= f.label "Give a tip" %>
      <div class="tip-form-content">
      <%= f.text_field :content %>
     <%= f.submit id: "btn btn-primary", class: " btn btn-secondary button-form" %>
      </div>
    <% end %>
  </div>
</div>

