<div class="container-fluid">
  <div class="challenge-row">
    <h3 class="text-center">Your daily challenge</h1>
    <div id="card-container" class="card-container">
      <% flipped = UserChallenge.today.where(user: current_user).first %>
      <div id="flipcard" class="flipcard <%= 'flipped' if flipped %>">
        <div class="challenge-body front-side" style="background-color: #c9c9c9;">
          <div id='reveal'> <%= link_to "Reveal Challenge", challenge_user_challenges_path(@challenge), method: :post, remote: true, class: 'btn btn-primary' %>
          </div>
          <div class="co2-info" style="background-color: #c9c9c9">
          </div>
        </div>
        <div class="challenge-body back-side">
          <div class="challenge-title">
            <%= @challenge.title %>
          </div>
          <div class="challenge-picture">
            <%= cl_image_tag @challenge.picture, height: 110, crop: :fill %>
          </div>
          <div class="challenge-description">
            <%= @challenge.description %>
          </div>
          <div class="co2-info">
            <%= image_tag("co2.svg", class: 'co2-icon') %>
            <%= @challenge.carbon %>
          </div>
          <div class="btn btn-secondary">
            <%= link_to 'Mark as done!', new_transportation_path %>
          </div>
          <div class="challenge-tip"><i class="fas fa-info-circle"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>

