<div class="container forms">
  <h2 style="padding-bottom: 20px; padding-top: 60px; ">Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <!-- <p class="icon-form"><i class="fas fa-at"></i></p> -->
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :username,
                  required: true %>
      <%= f.input :city,
                  required: true %>
      <%= f.label "Your time zone" %>
      <br>
      <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.all.sort,
                              required: true,
                              default: "Berlin" %>
      <br> <br>
      <!-- <p class="icon-form"><i class="fas fa-key"></i></p> -->
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <!-- <p class="icon-form"><i class="fas fa-key"></i></p> -->
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
        <br>
        <%= f.label :"Are you Vegan?" %>
        <br>
        <div class="space-between">

       <%= f.collection_radio_buttons :vegan,
                                      [[true, 'Yes'],
                                      [false, 'No']],
                                      :first, :last  %>
        </div>
        <br>
      <%= f.label :"Do you own a car?" %>
        <br>
        <div class="space-between">
       <%= f.collection_radio_buttons :car, [
                                      [true, 'Yes'] ,
                                      [false, 'No']],
                                       :first, :last  %>
        </div>

    </div>

    <div class="form-actions ">
      <%= f.button :submit, "Sign up", class:'btn btn-primary'  %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
