  <div class="comments-parent-box">
    <% @comments.each do |comment| %>
    <div class="container comments-parent style="text-align: -webkit-center;">
      <div class="comment-box ">
        <p><%= comment.content %></p>
        <p class="username"><%= comment.user.username %></p>
      </div>
    </div>
    <% end %>
  </div>




  <div class="form">
    <%= form_for ([@event ,@comment]) do |f| %>
    <div class="form-inputs">
      <%= f.label :Message %>
      <%= f.text_field :content, class: "form-control" %>
    </div>
    <%= f.submit class: "btn btn-primary event-button" %>
    <% end %>
  </div>
