<div class="challenge-container">
  <div class="transportation-body">
    <div class="transportation-title">
      Today's mode of transport
    </div>
    <div class="transportation-modes">
      <ul class="list-unstyled">
        <li>
            <p class="mode">Walking</p>
            <input type="text" class="form-control">km
            <p>0</p>
            <%= image_tag("smoke.svg", class: 'co2-icon') %>
        </li>
        <li>
          <p class="mode">Cycling</p>
          <input type="text" class="form-control">km
          <p>0</p>
          <%= image_tag("smoke.svg", class: 'co2-icon') %>
        </li>
        <li>
          <p class="mode">Car</p>
          <input type="text" class="form-control">km
          <p>0</p>
          <%= image_tag("smoke.svg", class: 'co2-icon') %>
        </li>
        <li>
          <p class="mode">Bus</p>
          <input type="text" class="form-control">km
          <p>0</p>
          <%= image_tag("smoke.svg", class: 'co2-icon') %>
        </li>
        <li>
          <p class="mode">Train</p>
          <input type="text" class="form-control">km
          <p>0</p>
          <%= image_tag("smoke.svg", class: 'co2-icon') %>
        </li>
        <li>
          <p class="mode">Plane</p>
          <input type="text" class="form-control">km
          <p>0</p>
          <%= image_tag("smoke.svg", class: 'co2-icon') %>
        </li>
      </ul>
    </div>
    <div class="btn btn-secondary">
      Submit!
    </div>
  </div>
</div>
