<div class="quiz-intro-banner">
  <h1>Eco quiz</h1>
</div>
<div class="banner-quiz">

  <div class=" quiz container">
    <div class="questions">


      <%= form_tag quiz_results_path, options = { method: "get" } do  %>
      <div class="question">

        <div class="answer">
          <label for="Transport" class="quiz-title">Daily Transportation:</label>
          <% [ 'Cycle', 'Walking', 'Drive', 'Public Transportation', 'My private jet' ].each do |transport| %>
          <label class="option">
            <%= radio_button_tag 'transport', transport, @transport == transport, class: "next" %>
          <%= transport.humanize %>
          </label>
          <% end %>
        </div>
      </div>

      <div class="question flight">
        <div class="answer">
          <label for="Flight" class="quiz-title">Average hours flying per year:</label>
          <% [ 'None', 'Less than 10 hours', 'Between 10-40 hours', 'More than 40 hours'].each do |flight| %>
          <label class="option">
            <%= radio_button_tag 'flight', flight, @flight == flight, class: "next" %>
            <%= flight.humanize %>
          </label>
          <% end %>
        </div>

      </div>

      <div class="question">
        <div class="answer">
          <label for="Smoker" class="quiz-title">Do you smoke?</label>
          <% ['Never', 'Sometimes', 'Regurlaly'].each do |smoker| %>
          <label class="option">
            <%= radio_button_tag 'smoker', smoker, @smoker == smoker, class: "next" %>
            <%= smoker.humanize %>
        </label>
          <% end %>
        </div>
      </div>

      <div class="question">
        <div class="answer">
          <label for="Diet" class="quiz-title">How often do you eat meat?</label>
          <% [ 'Never', '1 to 2 meals per week','More than 3 meals per week', 'Every meal'].each do |diet| %>
          <label class="option">
            <%= radio_button_tag 'diet', diet, @diet == diet, class: "next" %>
            <%= diet.humanize %>
          </label>
          <% end %>
        </div>
      </div>

      <div class="question">
        <div class="answer">
          <label for="Recicle" class="quiz-title">How often do you recycle?</label>
          <% [ 'Never', 'Sometimes', 'Most of the time', 'Always' ].each do |recicle| %>
          <label class="option">
            <%= radio_button_tag 'recicle', recicle, @recicle == recicle, class: "last"%>
            <%= recicle.humanize %>
          </label>
          <% end %>
          <br>
          <br>
          <%= submit_tag "Submit", class: "btn btn-primary quiz-btn" %>
        </div>
      </div>
      <!-- form_tag  -->
      <% end %>
      <!-- container div -->
    </div>
  </div>
</div>
