<div class="sd-navbar">
  <div class="side-navbar" id="transition" class="z-index">
    <ul style="list-style: none; display: inline-block; padding-left: 30%;">
      <br>

      <% if user_signed_in? %>
      <%= image_tag "https://images.unsplash.com/photo-1534958210670-31215027cb02?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d2ad6234771390be3df4b625b820c4d4&auto=format&fit=crop&w=1294&q=80", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
      <hr style="border: 1px solid #0000009e;">
        <%= link_to "Daily challenge", my_challenge_path, class: "" %>
      <hr style="border: 1px solid #0000009e;">
        <%= link_to "Dasboard", new_user_session_path, class: "" %>
      <hr style="border: 1px solid #0000009e;">
      <%= link_to "Events", new_user_session_path, class: "" %>
      <hr style="border: 1px solid #0000009e;">
      <%= link_to "Calculator", new_transportation_path, class: "" %>
      <hr style="border: 1px solid #0000009e;">
      <%= link_to "Past challenges", new_user_session_path, class: "" %>
      <hr style="border: 1px solid #0000009e;">
      <%= link_to t(".sign_in", default: "Logout"), destroy_user_session_path, class: "" %>
      <hr style="border: 1px solid #0000009e;">
      <%else %>
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "" %>
      <% end %>
    </ul>
  </div>
</div>
