<!--   <canvas id="canvas" width="1400" height="800"></canvas>
 -->

 <% transportation = Transportation.first %>

 <div class="challenge-container">
  <div class="transportation-body">
    <div class="transportation-title">
      Today's mode of transport
    </div>
    <div class="transportation-modes">
      <ul class="list-unstyled">
        <li>
            <p class="mode">Walking</p>
            <div class="transportation-co2"><input type="text" class="form-control">&nbsp;km</div>
            <div class="transportation-co2">
              <p>0</p>
              <%= image_tag("co2-2.svg", class: 'co2-icon') %>
            </div>
        </li>
        <li>
          <p class="mode">Cycling</p>
          <div class="transportation-co2"><input type="text" class="form-control">&nbsp;km</div>
          <div class="transportation-co2">
            <p>0</p>
            <%= image_tag("co2-2.svg", class: 'co2-icon') %>
          </div>
        </li>
        <li>
          <p class="mode">Car</p>
          <div class="transportation-co2"><input type="text" class="form-control">&nbsp;km</div>
          <div class="transportation-co2">
            <p>0</p>
            <%= image_tag("co2-2.svg", class: 'co2-icon') %>
          </div>
        </li>
        <li>
          <p class="mode">Bus</p>
          <div class="transportation-co2"><input type="text" class="form-control">&nbsp;km</div>
          <div class="transportation-co2">
            <p>0</p>
            <%= image_tag("co2-2.svg", class: 'co2-icon') %>
          </div>
        </li>
        <li>
          <p class="mode">Train</p>
          <div class="transportation-co2"><input type="text" class="form-control">&nbsp;km</div>
          <div class="transportation-co2">
            <p>0</p>
            <%= image_tag("co2-2.svg", class: 'co2-icon') %>
          </div>
        </li>
        <li>
          <p class="mode">Plane</p>
          <div class="transportation-co2"><input type="text" class="form-control">&nbsp;km</div>
          <div class="transportation-co2">
            <p>0</p>
            <%= image_tag("co2-2.svg", class: 'co2-icon') %>
          </div>
        </li>
      </ul>
    </div>
    <div class="btn btn-secondary">
      Submit!
    </div>
    <div class="co2-info">
      <%= image_tag("co2.svg", class: 'co2-icon') %>
      <%= -(transportation.carbon) %>
    </div>
  </div>
</div>
