<div class="banner-quiz">

  <div class="container quiz_result">
    <div class="quiz-result-box">
        <p>Your score is :</p><p class="score"><%=@score%></p>
          <% case %>
            <% when @score <= 5  then status = " My friend you are ZERO emissions " %>
              <h4 class="quiz_status"><%= status %></h4>
              <% when @score <= 10 then status = " OMFG YOU are so green " %>
              <h4 class="quiz_status"><%= status %></h4>
              <% when @score <= 30 then status = " Not that bad...we can help you work on it... " %>
              <h4 class="quiz_status"><%= status %></h4>
              <% when @score <= 50 then status = " Oh boy... We have work to do... " %>
              <h4 ><%= status %></h4>
          <% end %>
    </div>
      <%= link_to "Sign up, be green", new_user_registration_path , class: "btn btn-success quiz_singup"  %>
  </div>
</div>
