<div class="banner-quiz">

  <div class="container quiz_result">
    <div class="quiz-result-box">
      <p class="score"><%= @score %></p>
        <p>Your result is:</p>
          <% case %>
              <% when @score <= 10 then status = " Damn! You are so green! Challenge yourself even more" %>
              <h4 class="quiz_status"><%= status %></h4>
              <% when @score <= 30 then status = " Not that bad...we can help you work on it... " %>
              <h4 class="quiz_status"><%= status %></h4>
              <% when @score <= 50 then status = " Oh boy... We have work to do... " %>
              <h4 ><%= status %></h4>
          <% end %>
    </div>
      <%= link_to "Sign up, be green", new_user_registration_path , class: "btn btn-success quiz_singup"  %>
  </div>
</div>
