
<div class="container">
  <h4 id="quiz_result"> Based on our super complicated algorithm your score is: <%= @score %> points</h1>
  <% case @score %>
  <% when <= 5 status = " My friend you are ZERO emissions " %>
  <h4 id="quiz_status"><%= status %></h4>
  <% when  <= 10 status = " OMFG YOU are so green " %>
  <h4 id="quiz_status"><%= status %></h4>
  <% when  <= 30 status = " You need to work on it... " %>
  <h4 id="quiz_status"><%= status %></h4>
  <% when  <= 50 status = " Oh boy... We have work to do... " %>
  <h4 ><%= status %></h4>
  <% end %>
</div>
