<div class="container forms">

<h2 style="padding-bottom: 20px; font-family: 'Montserrat', sans-serif !important; padding-top: 60px; ">Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <p class="icon-form1"><i class="fas fa-at"></i></p>
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" },
                label_html: { autocomplete: "email" } %>
                <p class="icon-form2">
                  <i class="fas fa-key"></i>
                </p>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in", class:'btn btn-primary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>

 <!-- input_html: { class: 'link-under-form' } -->
