<% @tips.each do |tip| %>
  <div class="content">
  <p><%= tip.content %></p>
  </div>
  <div class="avatar-name">
    <%= tip.user.avatar%>
    <%= tip.user.name %>
  </div>
<% end %>

<%= form_for([@challenge, @challenge_user, @tip]) do |f| %>
 <%= f.label "Give a tip" %>
  <%= f.text_field :content %>
 <%= f.submit id: "btn btn-primary", class: "button-form" %>

<% end %>

