<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=no">
    <title>Pimp Your Print</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400%7CQuicksand:500" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= favicon_link_tag ('https://image.flaticon.com/icons/svg/814/814513.svg') %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <div id="main">
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>
      <%= render 'shared/sidenew' %>
      <%= yield %>
      <%= javascript_include_tag 'application' %>
      <%= javascript_pack_tag 'application' %>
      <%= yield :charts_js %>
    </div>
</body>


</html>
